{% extends 'Aplicacion/base.html' %}
{% load static %}


{% block contenido %}

<h4>Hola soy Fernanda Selmen fundadora del blog "Amor sin raza"</h4>
    <p>Bienvenidos. Me encuentro aquí hoy para hablarles del blog "Amor sin raza". Este blog fue creado con un propósito muy especial: ayudar a concientizar sobre la importancia de la adopción de animales sin importar su raza.

        Hay muchas personas que prefieren adoptar animales de raza, pensando que estos serán mejores compañeros o que tendrán menos problemas de salud, pero esto no es cierto. Todos los animales merecen un hogar amoroso y llenos de cuidados, independientemente de su raza o procedencia.
        
        Es por eso que este blog busca difundir información valiosa sobre la adopción responsable de animales, y especialmente aquellos que han sido discriminados por su raza. Muchos animales son abandonados y maltratados por el simple hecho de no ser de una raza popular o deseada, lo que es totalmente injusto y cruel.
        
        Adoptar un animal es una decisión importante y debe ser tomada con responsabilidad. Al adoptar, no sólo se brinda una segunda oportunidad a un animal, sino que también se le da un hogar amoroso y seguro donde pueda desarrollarse felizmente. Además, se está contribuyendo a reducir la sobrepoblación de animales en situación de calle y, por fin, a evitar el sufrimiento de muchos animales inocentes.
        
        Este blog tiene como objetivo generar conciencia y promover la adopción de animales sin importar su raza, difundir información útil sobre la adopción responsable y compartir historias de éxito y felicidad en la adopción de animales.
        
        Espero que este blog inspire a más personas a adoptar ya brindar hogares llenos de amor y cuidados a los animales que tanto lo necesitan.
        
        Gracias. </p>

{% if request.user.is_authenticated %}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src={{ user.profile.image.url }} class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title text-primary">{{ user.first_name }} {{ user.last_name }}</h3>
                <h5 class="card-title">@{{ user.username | upper }}</h5>
                <small><i class="bi bi-geo-alt"></i> {{ user.profile.location }}</small>
                <p class="card-text mt-3">{{ user.profile.bio }}</p>

                <strong>Intereses:</strong> <br>

                {% for interest in user.profile.interests.all %}
                    <span class="badge bg-secondary">{{ interest.name | upper }}</span>
                {% endfor %}

                <hr>
                <a href="{% url 'logout' %}" class="btn btn-sm btn-success">Cerrar Sesión</a>
            </div>
        </div>
    </div>
    
</div>
    
{% endif %}



{% endblock %}