{% extends 'Aplicacion/publicaciones.html' %}
{% load static %}


{% block contenido %}
<h1>Texto</h1>

<ul>
  {% for texto in object_list %}
    <li>  
        
  <figure>
    <blockquote class="blockquote">
      <p>{{ texto.titulo }}</p>
    </blockquote>
    <figcaption class="blockquote-footer">
       {{texto.subtitulo}} 
    </figcaption>
    <cite title="Source Title">{{ texto.dia }}</cite>
  </figure>
     
      
      {%if texto.imagen%}
        <img src="{{texto.imagen.url}}" style="width:300px; height:200px;" class="rounded float-start" alt="imagen de prueba"><p><em>{{texto.contenido}}</em></p>
      {%endif%}
    </li>

    <p>

    </p>
  {% empty %}

    <p>No hay textos disponibles.</p>
    
  {% endfor %}
</ul>



{% endblock %}
